@import "./tailwind.scss";

html,
body,
#app {
    overflow: hidden;
    user-select: none;
    -webkit-overflow-scrolling: touch;
}

[data-rsbs-scroll], .text-selectable {
  user-select: auto;
}

:root {
  --background: white;
  --text: black;
  --primary: black;
  --primary-text: white;
  --secondary: gray;
  --secondary-text: white;
}

.dark {
  --background: #121415;
  --text: white;
  --primary: #1d4ed8;
  --primary-text: white;
  --secondary: #06b6d4;
  --secondary-text: white;
}

::-webkit-scrollbar {
    display: none;
}

.with-scroller {
    &::-webkit-scrollbar {
        display: initial;
    }
}

a,
button,
input {
    -webkit-tap-highlight-color: transparent;
}

.ellipsis-all {
    * {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &:active {
        * {
            overflow: visible;
            white-space: normal;
            text-overflow: clip;
        }
    }
}